@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  background: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-size: 45% , 80%;
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main-container {
  border: 5px solid white;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 940px) {
  .top-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 400px;
}

@media (max-width: 410px) {
  .description-container {
    width: 100%;
  }
}

.description-container h1 {
  font-size: 48px;
  font-weight: 700;
  color: #502050;
  margin-bottom: 20px;
}

@media (max-width: 410px) {
  .description-container h1 {
    font-size: 30px;
  }
}

.description-container p {
  font-weight: 500;
  color: #937b92;
}

.rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 1070px) {
  .rating-container {
    right: 100px;
  }
}

.rating-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 40px 15px 25px;
  position: relative;
  width: 420px;
  background-color: #faf1f2;
  border-radius: 10px;
  margin: 10px;
}

@media (max-width: 410px) {
  .rating-item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1070px) {
  .rating-item.item-1 {
    right: 40px;
  }
}

@media (min-width: 1070px) {
  .rating-item.item-3 {
    left: 40px;
  }
}

.rating-item p {
  font-size: 15px;
  font-weight: bold;
  color: #502050;
  margin-left: 15px;
}

.stars {
  height: 20px;
  width: 85px;
  background-image: url("../images/icon-star.svg");
  background-repeat: repeat-x;
}

.bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #502050;
  position: relative;
  padding: 30px 25px;
  border-radius: 10px;
  height: 210px;
  width: 360px;
  margin-right: 20px;
}

@media (max-width: 410px) {
  .card {
    height: 100%;
    width: 100%;
  }
}

.card.card-2 {
  top: 20px;
}

.card.card-3 {
  top: 40px;
}

.card p {
  font-size: 15px;
  font-weight: normal;
  color: #faf1f2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  width: 100%;
}

.user-photo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-description {
  margin-left: 15px;
}

.user-description h3 {
  font-size: 15px;
  color: #faf1f2;
}

.user-description p {
  font-size: 15px;
  color: #ee68a4;
}
/*# sourceMappingURL=style.css.map */